/* CLASSES */
/* ===== ===== ===== ===== ===== */

$unit: 20px;

.listItem, .listAdvertisement {

	margin-bottom: $unit;	

	.track {

		height: $unit / 2;
		margin-top: $unit;
		margin-bottom: -($unit / 2);
	}
}

.listAdvertisement {

	background-color: #F9F9F9;
	margin-bottom: $unit;
	height: $unit * 3;
}

.icon {

	padding-left: $unit;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}